@model MvcStok.Models.Entity.TBLMUSTERİLER
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERİD)
        @Html.TextBoxFor(x => x.MUSTERİD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.MUSTERİAD)
        @Html.TextBoxFor(x => x.MUSTERİAD, new { @class = "form-control" })

        <br />
        @Html.LabelFor(m => m.MUSTERİSOYAD)
        @Html.TextBoxFor(x => x.MUSTERİSOYAD, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

